<div #asJoin class="wrapper-join">
  <button class="social-btn btn draw-border fb-btn animate__animated animate__fadeInDown animation-7"
          *ngFor="let a of [1]">
    <span class="icon-block"><i class="uil uil-facebook-f"></i></span>
    <span class="text">Conectar Facebook</span>
  </button>

  <button class="social-btn btn draw-border avatar-mock animate__animated animate__fadeInDown animation-8"
          (click)="move(true)">
    <span class="icon-block icon-play"><i class="uil uil-youtube"></i></span>
  </button>
</div>

<div #asComments class="wrapper-comments ">
  <div class="wrapper-count">
    <h1 [countUp]="15">0</h1>
    <h4>Participantes</h4>
  </div>
  <div class="in">
    <div class="avatar-mock animate__animated animate__fadeInDown animation-{{i*3}}"
         *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1,1,1];let i = index"></div>
  </div>

</div>

<div #asVideo class="wrapper-video-player hide-video">
<!--  <div class="in-wrapper-video-player">-->
<!--    <div class="close pointer" (click)="move(false);closeVideo()">Cerrar <i class="uil uil-times"></i></div>-->
<!--    <youtube-player (stateChange)="test($event)" (ready)="setPlayer($event)" [playerVars]="playerVars"-->
<!--                    [className]="'video-player'" videoId="xrRP4myIvR0"></youtube-player>-->
<!--  </div>-->

  <div class="wrapper-fb">
    <fb-post class="in-wrapper-fb" href="https://www.facebook.com/leifermendez.dev/posts/128537982641841"></fb-post>
  </div>

</div>
